
x-switch {
  display: inline-block;
  font-size: 1.4em;
  line-height: 0;
  border-radius: 100em;
  background-color: #DA5F61;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2) inset;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

x-switch label {
  position: relative;
  border-radius: inherit;
  cursor: pointer;
}

x-switch input {
  display: none;
}

.x-switch-knob {
  display: block;
  height: 1em;
  margin-right: 1em;
  background: #fff;
  border-radius: inherit;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.4);
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.25s ease;
  -moz-transition: -moz-transform 0.25s ease;
  transition: transform 0.25s ease;
  -webkit-transform: translateX(0%) scale(0.8);
  -moz-transform: translateX(0%) scale(0.8);
  transform: translateX(0%) scale(0.8);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* STYLES */

x-switch[checked] {
  background-color: #63B88F;
}

x-switch[checked] .x-switch-knob {
  -webkit-transform: translateX(100%) scale(0.8);
  -moz-transform: translateX(100%) scale(0.8);
  transform: translateX(100%) scale(0.8);
}

x-switch[disabled] {
  background: #d0d0d0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

x-switch[disabled] .x-switch-knob {
  background: #eee;
  border-color: rgba(0,0,0,0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
