
x-switch {
  display: inline-block;
  font-size: 1.25em;
  line-height: 0;
  border-radius: 100em;
  background-color: #DA5F61;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2) inset;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

x-switch label {
  position: relative;
  height: 1em;
  width: 2.1em;
  border-radius: inherit;
  cursor: pointer;
}

x-switch input {
  display: none;
}

.x-switch-knob {
  display: block;
  height: 100%;
  border-radius: inherit;
  background: -webkit-linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.2)),  #fff;
  background: -moz-linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.2)),  #fff;
  background: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.2)),  #fff;
  border: 1px solid rgba(0,0,0,0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.25s ease;
  -moz-transition: -moz-transform 0.25s ease;
  transition: transform 0.25s ease;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* STYLES */

x-switch[checked] {
  background-color: #63B88F;
}

x-switch[checked] .x-switch-knob {
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  transform: translateX(110%);
}

x-switch[disabled] {
  background: #d0d0d0;
  box-shadow: none;
}

x-switch[disabled] .x-switch-knob {
  background: #dadada;
  border-color: rgba(0,0,0,0.3);
}
